DB_HOST=SQL-Server-Local
DB_NAME=nombre_BD
DB_SA_PASSWORD=tu_contraseña_de_BD
DB_USERNAME=tu_usuario_de_BD
ClaveJWT=tu_clave_simetrica
REDIS_CONNECTION_STRING=redis:6379
JwtIssuer=GestorInvetarioEmisor
JwtAudience=GestorInventarioCliente
PublicKey=tu_clave_publica_rsa
PrivateKey= tu_clave_privada_rsa
Paypal_ClientId= tu_client_id_de_paypal
Paypal_ClientSecret=tu_client_secret_de_paypal
Paypal_Mode=sandbox
Paypal_returnUrlConDocker=https://localhost:8081/Payment/Success
Paypal_returnUrlSinDocker=https://localhost:7056/Payment/Success
Email__Host=smtp.gmail.com
Email__Port=587
Email__Username=tu_email
Email__Password= tu_contraseña_de_correo