DB_HOST=SQL-Server-Local
DB_NAME=GestorInventario
DB_SA_PASSWORD=SQL#1234
DB_SA_USERNAME=sa
DB_SQLUSER=sqluser
DB_SQLUSER_PASSWORD=12345678SQL#1234
IsMfaEnabled= true,
ClaveJWT=ChangeThisLongSecretKey
REDIS_CONNECTION_STRING=redis:6379
JwtIssuer=GestorInvetarioEmisor
JwtAudience=GestorInventarioCliente
PublicKey=tu_clave_publica_rsa
PrivateKey= tu_clave_privada_rsa
Paypal_ClientId= tu_client_id_de_paypal
Paypal_ClientSecret=tu_client_secret_de_paypal
Paypal_Mode=sandbox
Paypal_returnUrlConDocker=https://localhost:8081/Payment/Success
Paypal_returnUrlSinDocker=https://localhost:7056/Payment/Success
Email__Host=smtp.gmail.com
Email__Port=587
Email__Username=tu_email
Email__Password= tu_contraseña_de_correo
CertificatePassword=contraseña_de_tu_certificado_autofirmado
AuthMode=AsymmetricDynamic
LicenseKeyAutoMapper=tu_licencia_automaper