@using GestorInventario.Domain.Models.ViewModels.Paypal
@model ProductViewModelPaypal

@{
    ViewBag.Title = "Crear Producto";
}

<h2>Crear Producto</h2>

<form asp-action="CrearProducto" method="post">

    <!-- Campos existentes para crear el producto -->

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Type" class="control-label"></label>
        <select asp-for="Type" class="form-control">
            <option value="SERVICE">SERVICE</option>
            <option value="PHYSICAL">PHYSICAL</option>
            <option value="DIGITAL">DIGITAL</option>
        </select>
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Category" class="control-label"></label>
        <select asp-for="Category" class="form-control">
            @foreach (var category in Model.Categories)
            {
                <option value="@category">@category</option>
            }
        </select>
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>

    <!-- Campos para crear el plan de suscripción -->

    <h2>Creación del Plan</h2>

    <div class="form-group">
        <label asp-for="PlanName" class="control-label"></label>
        <input asp-for="PlanName" class="form-control" />
        <span asp-validation-for="PlanName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PlanDescription" class="control-label"></label>
        <input asp-for="PlanDescription" class="form-control" />
        <span asp-validation-for="PlanDescription" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Amount" class="control-label"></label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>

    <!-- Campos para el periodo de prueba -->
    <h3>Periodo de Prueba</h3>

    <div class="form-group">
        <div class="form-check">
            <input asp-for="HasTrialPeriod" class="form-check-input" type="checkbox" id="HasTrialPeriodCheckbox" />
            <label asp-for="HasTrialPeriod" class="form-check-label">Habilitar Período de Prueba</label>
        </div>
        <span asp-validation-for="HasTrialPeriod" class="text-danger"></span>
    </div>

    <div id="trialPeriodFields" style="display:none;">
        <div class="form-group">
            <label asp-for="TrialPeriodDays" class="control-label"></label>
            <input asp-for="TrialPeriodDays" class="form-control" />
            <span asp-validation-for="TrialPeriodDays" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TrialAmount" class="control-label"></label>
            <input asp-for="TrialAmount" class="form-control" />
            <span asp-validation-for="TrialAmount" class="text-danger"></span>
        </div>
    </div>

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-warning">
            @TempData["ErrorMessage"]
        </div>
    }
    <button type="submit" class="btn btn-primary">Crear Producto</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
                 document.addEventListener("DOMContentLoaded", function () {
            var checkbox = document.getElementById('HasTrialPeriodCheckbox');
            var trialPeriodFields = document.getElementById('trialPeriodFields');

            // Función para manejar el cambio del checkbox
            checkbox.addEventListener('change', function () {
                if (checkbox.checked) {
                    trialPeriodFields.style.display = 'block';
                } else {
                    trialPeriodFields.style.display = 'none';
                }
            });

            // Verificar el estado inicial
            if (checkbox.checked) {
                trialPeriodFields.style.display = 'block';
            }
        });
    </script>
   

}

