@using GestorInventario.Models
@model Usuario
<!--Esta vista se ve cuando el administrador hace clic en el boton pass del panel de administracion 
    <a asp-action="ResetPassword" asp-route-email="arrobauser.Email" class="btn btn-warning">Pass</a>
    en pocas palabras esta vista es mostrada cuando el administrador le da al boton de resetear contraseña
-->
<div class="container">
    <h2>Restablecimiento de contraseña</h2>
    <p>La contraseña para el usuario @Model.Email ha sido restablecida.</p>
    <p>Se ha enviado un correo electrónico con instrucciones para cambiar la contraseña.</p>
</div>
