@using GestorInventario.Application.DTOs;

@model DTORestorePass

<h2>Restaurar contraseña</h2>
<!--Este formulario se comunica con el enpoint RestorePasswordUser del controlador user, ademas este formulario se muestra cuando el correo de
restauracion de contraseña es enviado y hace clic en el enlace se muestra este formulario
-->


    <form asp-controller="Auth" asp-action="RestorePasswordUser" method="post">
        <input type="hidden" asp-for="@Model.UserId" />
        <input type="hidden" asp-for="@Model.Token" />
        <div class="form-group">
            <label for="TemporaryPassword">Password temporal</label>
            <input type="password" class="form-control" id="TemporaryPassword" asp-for="TemporaryPassword" required>
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" class="form-control" id="password" asp-for="Password" required>
        </div>
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-warning">
            @TempData["ErrorMessage"]
        </div>
    }
        <button type="submit" class="btn btn-primary mt-2">Restaurar</button>
    </form>

