@using GestorInventario.Domain.Models.ViewModels;
@model EditPedidoViewModel

<h2>Editar Pedido</h2>

<form asp-action="Edit" asp-controller="Pedidos" method="post">
    <div class="form-group">
        <input type="hidden" asp-for="id" />
       
    </div>
 
    <div class="form-group">

        <label for="FechaPedido">FechaPedido</label>
        <input type="date" class="form-control" id="Contacto" asp-for="fechaPedido" required>
    </div>
    <div class="form-group">

        <label for="EstadoPedido">EstadoPedido</label>
        <input type="text" class="form-control" id="EstadoPedido" asp-for="estadoPedido" required>
    </div>
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-warning">
            @TempData["ErrorMessage"]
        </div>
    }
    <button type="submit" value="Save" class="btn btn-primary mt-2">Editar</button>
</form>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
