@using GestorInventario.Models.ViewModels;

@model UserViewModel

<h2>Crear Usuario</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="Email">Email</label>
        <!--asp-for=""; esto sirve para identificar un campo, el asp-for=""; recibe lo que tu le pasas el modelo, pues si
            tu le pasas asp-for="Email" esto va a ir a la accion Create en este caso a por algo que sea exactamente igual
            he de recalcar que es caseSensitive quiere decir que diferencia entre mayusculas y minusculas si tu por ejemplo le pones
            asp-for="email" no lo va a encontrar aunque el nombre este bien porque lo que espera es Email no email. Esto tambien se puede
            decir como binding de propiedades
        -->
        <input type="email" class="form-control" id="Email" asp-for="Email" required>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Password">Contraseña</label>
        <input type="password" class="form-control" id="Password" asp-for="Password" required>
    </div>
     @if (User.IsInRole("administrador"))
 {
    <div class="form-group">
        <label>Rol</label>
        <select asp-for="IdRol" class="form-select mt-2" asp-items="ViewBag.Roles" value="usuario"></select>
        </div>
 }
    <div class="form-group">
        <label for="NombreCompleto">Nombre Completo</label>
        <input type="text" class="form-control" id="NombreCompleto" asp-for="NombreCompleto" required>
    </div>
    <div class="form-group">
        <label for="FechaNacimiento">Fecha de Nacimiento</label>
        <input type="date" class="form-control" id="FechaNacimiento" asp-for="FechaNacimiento" required>
    </div>
    <div class="form-group">
        <label for="Telefono">Teléfono</label>
        <input type="text" class="form-control" id="Telefono" asp-for="Telefono" required>
    </div>
    <div class="form-group">
        <label for="Direccion">Dirección</label>
        <input type="text" class="form-control" id="Direccion" asp-for="Direccion" required>
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
</form>
