<form asp-controller="Auth" asp-action="ResetPasswordOlvidada" method="post">

    <div class="form-group">
        <label for="email">Proporcione su email</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    
    <button type="submit" class="btn btn-primary mt-2">Enviar correo de  recuperacion</button>
    @if (TempData["Succes"] != null)
    {
        <div class="alert alert-success mt-2">
            @TempData["Succes"]
        </div>
    }
</form>