@model GestorInventario.Domain.Models.ViewModels.RolViewModel
<section class="py-5 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="card border-0 shadow-lg" style="border-radius: 1rem;">
                    <div class="card-header text-center py-4 bg-primary text-white">
                        <h3 class="mb-0 fw-bold">Crear Nuevo Usuario</h3>
                    </div>
                    <div class="card-body p-4 p-md-5">
                        <form asp-action="CreateRol" method="post" id="createRolForm" novalidate>
                            <!-- Email -->
                            <div class="mb-4">
                                <label class="form-label fw-bold" for="Nombre">Nombre Rol</label>
                                <div class="input-group">
                                    <span class="input-group-text bg-light"><i class="bi bi-envelope-fill"></i></span>
                                    <input type="text" class="form-control form-control-lg" id="rol" asp-for="nombre"
                                           required />
                                </div>
                               
                            </div>

                            <div class="d-grid gap-3">
                                <button type="submit" class="btn btn-primary btn-lg" id="submitButton">
                                    <i class="bi bi-shield-lock me-2"></i>Crear Rol
                                </button>
                                <a class="btn btn-outline-secondary btn-lg" asp-action="ObtenerRoles">
                                    <i class="bi bi-arrow-left me-2"></i>Volver
                                </a>
                            </div>
                            @if (TempData["ErrorMessage"] != null)
                            {
                                <div class="alert alert-warning">
                                    @TempData["ErrorMessage"]
                                </div>
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/create-user.js" asp-append-version="true"></script>
}