@using GestorInventario.Models.ViewModels;
@model UserViewModel
@* <form asp-action="Create" method="post">
    <div class="form-group">
        <label for="Email">Email</label>
        <!--asp-for=""; esto sirve para identificar un campo, el asp-for=""; recibe lo que tu le pasas el modelo, pues si
            tu le pasas asp-for="Email" esto va a ir a la accion Create en este caso a por algo que sea exactamente igual
            he de recalcar que es caseSensitive quiere decir que diferencia entre mayusculas y minusculas si tu por ejemplo le pones
            asp-for="email" no lo va a encontrar aunque el nombre este bien porque lo que espera es Email no email. Esto tambien se puede
            decir como binding de propiedades
        -->
        <input type="email" class="form-control" id="Email" asp-for="Email" required>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Password">Contraseña</label>
        <input type="password" class="form-control" id="Password" asp-for="Password" required>
    </div>
     @if (User.IsInRole("administrador"))
 {
    <div class="form-group">
        <label>Rol</label>
        <select asp-for="IdRol" class="form-select mt-2" asp-items="ViewBag.Roles" value="usuario"></select>
        </div>
 }
    <div class="form-group">
        <label for="NombreCompleto">Nombre Completo</label>
        <input type="text" class="form-control" id="NombreCompleto" asp-for="NombreCompleto" required>
    </div>
    <div class="form-group">
        <label for="FechaNacimiento">Fecha de Nacimiento</label>
        <input type="date" class="form-control" id="FechaNacimiento" asp-for="FechaNacimiento" required>
    </div>
    <div class="form-group">
        <label for="Telefono">Teléfono</label>
        <input type="text" class="form-control" id="Telefono" asp-for="Telefono" required>
    </div>
    <div class="form-group">
        <label for="Direccion">Dirección</label>
        <input type="text" class="form-control" id="Direccion" asp-for="Direccion" required>
    </div>
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-warning">
            @TempData["ErrorMessage"]
        </div>
    }
    <button type="submit" class="btn btn-primary">Crear</button>
</form> *@
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Crear Usuario</h3>
                        <form asp-action="Create" method="post">
                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="email" id="typeEmailX-2" class="form-control form-control-lg" asp-for="Email" />
                                <label class="form-label" for="typeEmailX-2">Email</label>
                            </div>

                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="password" id="typePasswordX-2" class="form-control form-control-lg" asp-for="Password" />
                                <label class="form-label" for="typePasswordX-2">Password</label>
                            </div>
                              @if (User.IsInRole("administrador"))
                              {
                            <div data-mdb-input-init class="form-outline mb-4">
                                    <select asp-for="IdRol" class="form-select mt-2" asp-items="ViewBag.Roles" value="usuario"></select>
                                <label class="form-label" for="typePasswordX-2">Rol</label>
                            </div>
                             }
                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="text"  class="form-control form-control-lg" asp-for="NombreCompleto" />
                                <label class="form-label" >Nombre Completo</label>
                            </div>
                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="date" class="form-control form-control-lg" asp-for="FechaNacimiento" />
                                <label class="form-label">Fecha Nacimiento</label>
                            </div>
                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="text" class="form-control form-control-lg" asp-for="Telefono" />
                                <label class="form-label">Telefono</label>
                            </div>
                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="text" class="form-control form-control-lg" asp-for="Direccion" />
                                <label class="form-label">Direccion</label>
                            </div>
                            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" type="submit">Crear</button>

                           


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>