@using GestorInventario.Domain.Models.ViewModels;
@model PedidosViewModel
<h1>Crear Pedidos</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumeroPedido" class="control-label"></label>
                <input asp-for="NumeroPedido" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="FechaPedido" class="control-label"></label>
                <input asp-for="FechaPedido" class="form-control" type="date" />
            </div>
            <div class="form-group">
                <label asp-for="EstadoPedido" class="control-label"></label>
                <input asp-for="EstadoPedido" class="form-control" />
            </div>
          
            <div class="form-group">
                <label asp-for="IdsProducto" class="control-label"></label>
                <br/>
                @for (var i = 0; i < ViewBag.Productos.Count; i++)
                {
                    <input type="checkbox" asp-for="ProductosSeleccionados[i]" class="mt-2" /> @ViewBag.Productos[i].NombreProducto
                    <input type="hidden" asp-for="IdsProducto[i]" value="@ViewBag.Productos[i].Id" />

                    <input type="number" asp-for="Cantidades[i]" class="mt-2"  />
                    <br/>
                                   
                    }
            </div>
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                <select asp-for="IdUsuario" class="form-select" asp-items="ViewBag.Clientes"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            // Cuando se cambia el estado de una casilla de verificación...
            $('input[type="checkbox"]').change(function () {
                // Encuentra el campo de cantidad correspondiente.
                var cantidad = $(this).nextAll('input[type="number"]:first');

                // Si la casilla de verificación está marcada, deja la cantidad tal como está.
                // Si no está marcada, establece la cantidad a 0.
                if (!$(this).prop('checked')) {
                    cantidad.val(0);
                }
            });

            // Cuando se envía el formulario...
            $('form').submit(function (event) {
                // Evita que el formulario se envíe inmediatamente.
                event.preventDefault();

                // Para cada casilla de verificación...
                $('input[type="checkbox"]').each(function () {
                    // Si la casilla de verificación no está marcada...
                    if (!$(this).prop('checked')) {
                        // Encuentra el campo de cantidad correspondiente y establece su valor a 0.
                        var cantidad = $(this).nextAll('input[type="number"]:first');
                        cantidad.val(0);
                    }
                });

                // Envía el formulario manualmente.
                this.submit();
            });
        });
    </script>
}
