@using GestorInventario.ViewModels.order
@using GestorInventario.enums
@using System.Reflection
@using System.ComponentModel.DataAnnotations
@model EditPedidoViewModel
<link rel="stylesheet" href="~/css/pedidoEdit.css" />
<div class="card hover-card">
    <div class="card-header bg-primary text-white">
        <h2 class="h4 mb-0">Editar Pedido </h2>
    </div>
    <div class="card-body">
       
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-warning alert-dismissible fade show mb-4" role="alert">
                <i class="bi bi-exclamation-triangle me-2"></i>@TempData["ErrorMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <form asp-action="Edit" asp-controller="Pedidos" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-3">
                <label asp-for="FechaPedido" class="form-label">Fecha del Pedido</label>
                <input type="date" class="form-control" asp-for="FechaPedido" id="FechaPedido" />
                <span asp-validation-for="FechaPedido" class="text-danger"></span>
            </div>
            <select asp-for="EstadoPedido" class="form-select">
                @foreach (var value in Enum.GetValues(typeof(EstadoPedido)))
                {
                    var displayName = value.GetType().GetMember(value.ToString())
                    .FirstOrDefault()?.GetCustomAttribute<DisplayAttribute>()?.Name
                    ?? value.ToString().Replace("_", " ");

                    <option value="@value" selected="@(value.ToString() == Model.EstadoPedido)">@displayName</option>
                }
            </select>
            <div class="d-flex gap-2">
                <button type="submit" class="btn btn-primary mt-2">Guardar Cambios</button>
                <a asp-action="Index" asp-controller="Pedidos" class="btn btn-secondary mt-2">Volver a la Lista</a>
            </div>
        </form>
    </div>
</div>



