
@using GestorInventario.ViewModels
@model LowStockViewmodel
<h1>Notificación de Stock Bajo</h1>
<p>Estimado usuario,</p>
<p>Queremos informarte que el stock del producto <strong>@Model.NombreProducto</strong> está bajo. Actualmente quedan <strong>@Model.Cantidad</strong> unidades.</p>
<p>Te recomendamos que repongas el stock de este producto lo antes posible para evitar interrupciones en las ventas.</p>
<p>Gracias por tu atención.</p>