@using GestorInventario.ViewModels

@model CreateProductEmailViewmodel
<h1>Notificación de Creacion de producto</h1>
<p>Estimado usuario,</p>
<p>Queremos informarte que el  producto <strong>@Model.NombreProducto</strong> ha sido creado con exito.</p>
<p>Gracias por tu atención.</p>
