



<html>
<head>
    <meta name="viewport" content="width=device-width" />
  
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f1f1f1;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }

        .alert {
            padding: 20px;
            background-color: #f44336;
            color: white;
            opacity: 1;
            transition: opacity 0.6s;
            margin-bottom: 15px;
        }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

            .closebtn:hover {
                color: black;
            }
    </style>
</head>
<body>
    <div class="container">
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">×</span>
            @if (TempData["ConectionError"] != null)
            {
                @TempData["ConectionError"]
            }
            else
            {
                <p>Ha ocurrido un error inesperado. Por favor, inténtelo de nuevo más tarde.</p>
            }
        </div>
        <p><a href="@Url.Action("Index", "Home")">Volver a la página de inicio</a></p>
    </div>
</body>
</html>
